@import 'tailwindcss';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.buttons button:active {
  transform: scale(0.90);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  filter: brightness(1.2);
}